body {
  background: linear-gradient(90deg, #5ca09a 0%, #0D9DE3 100%);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.box {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 30px;
  background-color: beige;
}

.bg {
  background-color: #e2e2e2;
  border-radius: 10px;
}


.dark {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.light{
  background-color: #F5F5F5;
  color: #333333;
}

.lightBox{
  background-color: #e2e2e2;
  border-radius: 20px;
}

.darkBox{
  background-color: #313131;
  border-radius: 20px;
}